body{
  height: 100vh;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 auto;
}